body {
    font-family:  Arial;
    background-color: blanchedalmond;
}

form, h1 {
    justify-content: center;
    text-align: center;
}

button {
    border-radius: 30%;
    margin-top: 18px;
    font-weight: bold;
}

button:hover {
    background-color: red;

}